= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.error_notification
  .span3
  .span6
    %h2 Sign up
    #yellow.well
      = f.input :email, :placeholder => 'user@example.com', :required => false
      = f.input :username, :placeholder => 'What should we call you?', :required => false
      = f.input :password, :required => false
      = f.input :password_confirmation, :required => false
      %span.help-block= link_to('Terms of Service', '/legal/service.html') +" and "+ link_to('Privacy Policy', '/legal/privacy.html')
      %button.btn.btn-primary{:name => "commit", :type => "submit"}
        %b Sign up
        with e-gamify.com
      -#= f.button :submit, "Sign up"
    .another-frame.pull-left
      = render "devise/shared/links"