%a.btn.btn-navbar{:'data-toggle' => "collapse", :'data-target' => ".nav-collapse"}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
%a.brand{:href => root_path}
  %i.icon-bookmark.icon-white
  eGamify!
.nav-collapse
  %ul.nav
    %li.active= link_to 'Home', root_path
    %li= link_to 'About', '/legal/about.html'
    %li= link_to 'Contact', 'mailto:joseruizjimenez@gmail.com'
  %ul.nav.pull-right
    - if site_owner_signed_in?
      %li.navbar-text= current_site_owner.email
      %li.divider-vertical
      %li
        .btn-group
          %a.btn.dropdown-toggle.hidden-phone.hidden-tablet{:'data-toggle' => "dropdown", :href => "#"}
            %i.icon-cog
            Settings
          %ul.dropdown-menu
            %li
              %a{:href => edit_site_owner_registration_path}
                %i.icon-wrench
                Edit account
            %li= link_to(raw("<i class='icon-off'></i>  Logout"), destroy_site_owner_session_path, :method => :delete)
    - else
      %li
        .navbar-btn-span
          %a.btn.btn-success{:href => new_site_owner_session_path}
            %i.icon-user.icon-white
            Login
      %li
        %div
          %a.btn.btn-info{:href => new_site_owner_registration_path}
            %i.icon-flag.icon-white
            Sign up